*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    margin: 0%;
}
nav{
    display: flex;
    justify-content: center;
    padding:1% 0%;
}
nav a{
    text-decoration: none;
    font-size: 1rem;
    margin-left: 3%;
    color: black;
}
nav a:hover{
    text-decoration: underline;
}

.section1{
    display: flex;
    justify-content: space-between;
    padding:7%
}
.welcome{
    font-size: 4rem;
    text-align: right;
}
.learn-btn{
    background-color: green;
    text-decoration: none;
    padding:3%;
    float: right;
    border-radius:5px;
    color:white
}
.section2{
    background-color: rgb(98, 210, 98);
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:250px
}

.quote{
    font-size: 3rem;
    text-align: center;
}

.section3{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image_1{
    width:80vw
}
.section3-welcome{
    font-size: 2rem;
}
.intro{
    text-align: justify;
    width:80vw
}
